body {
    font-family: "JetBrains Mono", monospace;
}

.prep {
    color: #B1AE60;
}

.str {
    color: #69AB73;
}

.keyword {
    color: #CF8E6D;
}

.func-name {
    color: #56A8EE;
}

.panel {
    color: #A1A3AA;
    font-size: 0.95em;
    font-weight: lighter;
    margin-right: 10px;
    padding-right: 20px;
}

.wrap {
    display: flex;
    flex-direction: row;
    color: #bcbec4;
    font-size: 1.2em;
    line-height: 1.6em;
    background: #1e1f22;
    margin: 10px;
    padding: 20px;
}